// MLIS capstone projects //

#cp-hero{
    padding: 16px 0;
    text-align: left;
    background-color: var(--whiteDutchLite);
    

    // >div{
    //     // padding: 0 16px;

    //     p{
    //         font-size: rem-calc(18);
    //         color: var(--blueDark);
    //         line-height: rem-calc(24);
    //         padding-bottom: 20px;
    //     }

        
}



#cp-ICMGLT{
    background-color: var(--whiteDutchLite);

    >div{
        padding: 0 16px;

        p{
            padding: 0 30px;
        }
    }   
}

#cp-List{
    background-color: var(--whiteDutchLite);
    padding: 0 16px;

    ul{
        padding: 0 22px 5px;
            
        li{
            list-style-type: square;
            color: var(--blueDark); 
        }
    }
}

#ICMGLT-pdf{
    text-align: left;
    padding: 5px 16px;
    background-color: var(--whiteDutchLite);

    >div{
        padding: 16px 30px 20px;
    }
}


#cp-Kislak{
    background-color: var(--whiteDutchLite);

    >h2,h3{
        // padding: 0 16px;

        a{

        }
    }

    >p{
        padding-bottom: 5px;
    }

}

#Kislak-video{
    padding-left: 20px;
}
