// MLIS capstone projects //
#cp-hero{
    padding: 16px 0;
    text-align: left;
    background-color: var(--whiteDutchLite);
    

    // >div{
    //     // padding: 0 16px;

    //     p{
    //         font-size: rem-calc(18);
    //         color: var(--blueDark);
    //         line-height: rem-calc(24);
    //         padding-bottom: 20px;
    //     }

        
    // }
}


#cp-ICMGLT{
    background-color: var(--whiteDutchLite);

    >div{
        padding: 0 16px;

        p{
            padding: 0 30px;
        }
    }   
}

#cp-List{
    background-color: var(--whiteDutchLite);

    ul{
        padding: 0 22px 5px;
        li{
            color: var(--blueDark);  
        }
             
                
    }
}



#cp-Kislak{
    background-color: var(--whiteDutchLite);

    >div{
        padding: 0 16px;

        p{
            padding: 0 30px;
        }
    }

}
