// Penn Libraries capstone projects //
#pl-hero{
    padding: 16px 0;
    text-align: left;
    background-color: var(--whiteDutch);
    

    // >div{
    //     // padding: 0 16px;

    //     p{
    //         font-size: rem-calc(18);
    //         color: var(--blueDark);
    //         line-height: rem-calc(24);
    //         padding-bottom: 20px;
    //     }

        
    // }
}


#pl-PLCE{
    background-color: var(--whiteDutch);

    >div{
        padding: 0 16px;

        p{
            padding: 0 30px;
        }
    }   
}


#pl-IPC{
    background-color: var(--whiteDutch);

    >div{
        padding: 0 16px;

        p{
            padding: 0 30px;
        }
    }

}