// projects //

#projects-hero{
    padding: 32px 0;
    text-align: left;
    background-color: var(--whiteDutchLite);
    
}


#projects-list{
    background-color: var(--whiteDutchLite);

    >div{
        padding: 0 16px;

        ul{
            padding: 0 30px;
            
            li{
                list-style-type: square;
                ul{
                    li{
                        list-style-type: square;  
                    }
                }
            }   
        }
    }
}

#projects-reference{
    text-align: left;
    padding: 32px 16px;
    background-color: var(--whiteDutchLite);

    >div{
        padding: 16px 30px;
    }
}

#projects-MODS{
    text-align: left;
    padding: 32px 16px;
    background-color: var(--whiteDutchLite);

    >div{
        padding: 16px 30px;
    }

}