// resume //

#projects-hero{
    padding: 32px 0;
    text-align: left;
    // background-color: var(--whiteDutch);

    >div{
        padding: 0 16px;

        ul{
            font-size: rem-calc(18);
            color: var(--blueDark);
            line-height: rem-calc(24);
            padding-bottom: 20px;
        }
    }
}


#projects-list{
    // background-color: var(--whiteDutch);

    >div{
        padding: 0 16px;

        ul{
            padding: 0 30px;
        }
    }   
}

#projects-reference{
    text-align: left;
    padding: 32px 16px;
    // background-color: var(--whiteDutch);
}

#projects-MODS{
    text-align: left;
    padding: 32px 16px;
    // background-color: var(--whiteDutch);

}