// resume //

#resume-hero{
    padding: 20px 16px;
    text-align: left;
    background-color: var(--whiteDutch);
}


#resume-pdf{
    text-align: left;
    padding: 5px 16px;
    background-color: var(--whiteDutch);

    >div{
        padding: 16px 30px 20px;
    }

}