// site map //

#sitemap-hero{
    // padding: 32px 16px;
    text-align: center;
    background-color: var(--whiteDutchLite);
}

#sitemap-container{
    text-align: left;
    // padding: 5px 15px;
    background-color: var(--whiteDutchLite);

    >div{
        padding: none;
    }

}