// site map //

#sitemap-hero{
    // padding: top right bottom left
    padding: 20px 14px 10px;
    text-align: center;
    background-color: var(--whiteDutchLite);
}

#sitemap-container{
    padding-bottom: 20px;
    text-align: left;
    // padding: 5px 15px;
    background-color: var(--whiteDutchLite);

    >div{
        padding: 0 16px;

        ul{
            padding: 0 30px;
            
            li{
                list-style-type: square;
                ul{
                    li{
                        list-style-type: square;  
                    }
                }
            }   
        }
    }

}