/* =============
    Footer
============= */
footer{
    background-color: var(--blueLight);
    // text-align: center;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 5px;

    @include lg{
        // background-position: center;
        height: 40vh;
    }

    @include xxl{
        // background-position: center;
        height: 60vh;
    }

    #socialMedia{

        ul{
            padding: 10px 6vw 12px;
            display: inline-block;
            align-items: flex-end;
            // border-style: solid;

            li{
                a{
                    color: var(--orangeBurnt);
                    font-size: rem-calc(8);
                }
            }      
        }
    }

    #resourcesReq{
        ul{
            padding: 10px 12vw 12px;
            display: inline-block;
            align-items: flex-end;
            // border-style: solid;

            li{
                font-size: rem-calc(16);
            }
        }
    }
    
    #copyright-statement{
        padding: 10px 8px;
        display: inline-block;
        align-items: right;
        // border-style: solid;

        p{
            font-size: rem-calc(16); 
        }
    }

}