/* =============
    Buttons
============= */

button{
    border: none;
    cursor: pointer;
}

.yellowButton{
    background-color: var(--yellowGoldenrod);
    color: var(--orangeDark);
    font-size: rem-calc(18);
    font-weight: 800;
    padding: 16px 40px;
    border-radius: 8px;
}