/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

#main-nav{
    background-color: var(--yellowGoldenrod);
    padding: 9px;
}

    div{
        ul{
            li{
                text-align: left;

                a:link, a:visited{
                    // display: block;
                    // padding: 16px 0;
                    color: var(--blueViolet);
                    transition: 0.25s;
                }
                    i{
                        color: var(--white);
                        margin-left: 8px;
                    }
                a:hover, a:active{
                    color: var(--white);
                }
            }
        }    
    }
