/* =============
    Typography
============= */
body{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
}

.li_a{
    list-style-type: square;
    color: var(--yellowGoldenrod);
}

.li_b{
    list-style-type: circle;
    color: var(--white);
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}

p{
    color: var(--blueDark);
    padding: 0 16px 3px;
    margin: 0;
}

.pageTitle{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    color: var(--orangeDark);
    font-size: rem-calc(40);
    font-weight: 700;
    font-style: italic;
    padding-top: 16px;
    margin-left: 5px;

    @include md{
        font-size: rem-calc(60);
    }
}

.contentSectionTitle{
    font-family: "Archivo Narrow", sans-serif;
    color: var(--orangeTerracotta);
    font-size: rem-calc(28);
    font-weight: 600;
    padding-bottom: 16px;
    margin-left: 10px;
    
    @include md{
        font-size: rem-calc(32);
    }
}

.contentSectionSubtitle{
    font-family: "Archivo Narrow", sans-serif;
    color: var(--greenDark);
    font-size: rem-calc(20);
    font-weight: 800;
    margin-left: 10px;
}

.break-point::before{
    content: "hiddentext";
    font-size: 0;
    display: block;
    line-height: 0;
}


